<%- include('partials/head') %>



  <title>CamisetasML</title>
  </head>

  <body>

    <!-- HEADER  -->
    <%- include('partials/header') %>


      <main>



        <h2>CAMISETAS DE FÚTBOL</h2>

        <% for (let i=0; i<12; i++) { %>
          <div class="footballProduct ">
         
            <h6>
              <%=products[i].name %>
            </h6>
            <img src="/images/<%= products[i].image %>" alt="" width="90px">
          </a>
          </div>
          <%}; %>




        <h2>SHORTS DE FÚTBOL</h2>


        <% for (let i=58; i<64; i++) { %>
          <div class="footballProduct ">
            <h6>
              <%=products[i].name %>
            </h6>
            <img src="/images/<%= products[i].image %>" alt="" width="90px">
          </a>
          </div>
          <%}; %>


      </main>


      <!-- FOOTER  -->
      <%- include('partials/footer') %>