<%- include('./partials/head') %>

	<link rel="stylesheet" href="/css/userProfile.css">
	<title>Perfil del usuario</title>
	</head>

	<body>

		<!-- HEADER  -->
		<%- include('./partials/header') %>

			<main>
				<div class="container">

					<div class="profileUserName">
						Hi <%= user.fullName %>
						
					</div>
					<div class="profileUserEmail">
						<%= user.email %>
					</div>
				
				</div>
			
			</main>

			<%- include('./partials/footer'); %>