<%- include('../partials/head') %>

    <link href="/css/register.css" rel="stylesheet">
    <title>Formulario de registro</title>
    </head>

    <body>

        <%- include('../partials/header') %>
            <main>


                <form class="form" method="POST" action='/user/register' autocomplete="off" style="min-height: 100vh">
                    <p id="heading">Acceder</p>

                    <div class="field">
                        <input placeholder="Ingrese su nombre" type="text" name="fullName"
                            class="input-field <%= locals.errors && errors.fullName ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.fullName : null %>">
                    </div>
                    <% if (locals.errors && errors.fullName) { %>
                        <div class="text-danger">

                            <%= errors.fullName.msg %>
                        </div>
                        <% } %>


                            <div class="field">


                                <input placeholder="Ingrese su apellido" type="text" name="surname"
                                    class="input-field <%= locals.errors && errors.surname ? 'is-invalid' : null %>"
                                    value="<%= locals.oldData ? oldData.surname : null %>">
                            </div>
                            <% if (locals.errors && errors.surname) { %>
                                <div class="text-danger">

                                    <%= errors.surname.msg %>
                                </div>
                                <% } %>

                                    <div class="field">
                                        <input placeholder="Ingrese su email" type="text" name="email"
                                            class="input-field <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                                            value="<%= locals.oldData ? oldData.email : null %>">
                                    </div>
                                    <% if (locals.errors && errors.email) { %>
                                        <div class="text-danger">
                                            <%= errors.email.msg %>
                                        </div>
                                        <% } %>

                                            <div class="field">
                                                <input placeholder="Ingrese su contraseña" type="password"
                                                    name="password"
                                                    class="input-field <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                                            </div>
                                            <% if (locals.errors && errors.password) { %>
                                                <div class="text-danger">
                                                    <%= errors.password.msg %>
                                                </div>
                                                <% } %>
                                                    <div class="field">

                                                        <input class="input-field" type="password"
                                                            name="confirmPassword"
                                                            placeholder="Vuelva a ingresar su contraseña">
                                                    </div>

                                                    <% if (locals.errors && errors.confirmPassword) { %>
                                                        <div class="text-danger">

                                                            <%= errors.confirmPassword.msg %>
                                                        </div>
                                                        <% } %>

                                                            <div class="btn">
                                                                <button
                                                                    class="button1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Registrarme&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                                <button class="button2">Ya tengo cuenta</button>
                                                            </div>

                </form>


                <%- include('../partials/footer') %>