<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/productCart.css">
    <title>Carrito de compras</title>
    </head>

    <!-- HEADER  -->
    <%- include('../partials/header') %>

        <body>


            <main>
                <div class="products-container">

                    <div class="allProducts-box">

                        <div class="product">
                            <h5>
                                <%= product.name %>
                            </h5>
                            <div class="img-p-container">
                                <img src="/images/<%= product.image %>" alt="<%= product.name %>" width="90px">
                                <div class="paragraphs-texts">
                                    <p> CANTIDAD 1</p>
                                    <% if(product.discount> 0) { %>
                                        <article class="product-discount">
                                            <h4 id="discount-porcentage">
                                                <%= product.discount %>% de descuento!
                                            </h4>
                                            <p id="price-before"> Precio anterior: $<%= product.price%>
                                            </p>
                                            <h4 id="discount-porcentage"> Precio ahora: $<%= product.price -
                                                    (product.price*product.discount)/100 %>
                                            </h4>
                                        </article>
                                        <% } %>
                                            </p>

                                </div>
                            </div>
                            <input class="delete-button" value="ELIMINAR EL PRODUCTO"></input>
                        </div>

                        <div class="product" id="buy-zone">
                            <p>PRECIO TOTAL DE LOS ARTÍCULOS: <strong>$<%= product.price -
                                        (product.price*product.discount)/100 %> </strong></p>
                            <p>PRECIO DE ENVÍO: <strong>$1.299</strong></p>
                            <p>PRECIO TOTAL: <strong>$ <%= product.price - (product.price*product.discount)/100 + 1299
                                        %></strong></p>
                            <input class="delete-button" value="PROCEDER A PAGAR"></input>

                        </div>

                    </div>


                </div>


            </main>
            <!-- FOOTER  -->
            <%- include('../partials/footer') %>