<!-- HEAD  -->
<%- include('../partials/head') %>

<link href="/css/productEdit.css" rel="stylesheet">
<title>Edición de producto</title>
</head>

    <body>
        <!-- HEADER  -->
        <%- include('../partials/header')  %>
        <main>
            <div class="formBox">
                <h5>Editar producto</h5>

                <form action="/products/<%= productToEdit.id %>?_method=PUT"   method="POST">

                    <input value= "<%=productToEdit.name %>" class="inputs" type="text" name="name" placeholder="Edita el nombre del producto">

                    <input value= "<%=productToEdit.price %>" class="inputs" type="number" name="price" min="1" placeholder="Edita el precio">

                    <select class="selection">
                        <option <%= productToEdit.category === 'Seleccione una categoría' ? 'selected' : null %> value="Seleccione una categoría" disabled selected="">Seleccione una categoría</option>
                        <option <%= productToEdit.category === 'Camiseta titular' ? 'selected' : null %> value="Camiseta titular">Camiseta titular</option>
                        <option <%= productToEdit.category === 'Camiseta suplente' ? 'selected' : null %> value="Camiseta suplente">Camiseta suplente</option>
                        <option <%= productToEdit.category === 'Short' ? 'selected' : null %> value="Short">Short</option>
                        
                    </select>


                   <input value= "<%=productToEdit.discount %>" class="inputs" type="number" name="discount" min="1" max="100" 
                    placeholder="Edita el porcentaje del descuento">

                   
                    <button type="submit" class="buttons">Editar</button>
                        
                    

                </form>

            </div>
        </main>
    <!-- FOOTER  -->
    <%- include('../partials/footer')  %>