<%- include('../partials/head') %>


  <title>Productos</title>
  </head>

  <!-- HEADER  -->
  <%- include('../partials/header') %>

    <body>


      <main>

        <h2 id="camisetasTitulares">CAMISETAS TITULARES </h2>

        <% camisetaTitular.forEach((product)=> { %>
          <div class="footballProduct">
            <a href="/products/product-detail/<%= product.id %> " id="product-redirect">
              <h6>
                <%=product.name %>
              </h6>
              <img src="/images/<%= product.image %>" alt="<%=product.name %>" width="90px">
              
            </a>
          </div>
          <%}); %>


            <h2 id="camisetasSuplentes">CAMISETAS SUPLENTES</h2>


            <% camisetaSuplente.forEach((product)=> { %>
              <div class="footballProduct">
                <a href="/products/product-detail/<%= product.id %> " id="product-redirect">
                  <h6>
                    <%=product.name %>
                  </h6>
                  <img src="/images/<%= product.image %>" alt="<%=product.name %>" width="90px">
                  
                </a>
              </div>
              <%}); %>

              <h2 id="shorts">SHORTS DE FÚTBOL</h2>


            <% short.forEach((product) => { %>
              <div class="footballProduct">
                <a href="/products/product-detail/<%= product.id %> " id="product-redirect">
                  <h6>
                    <%=product.name %>
                  </h6>
                  <img src="/images/<%= product.image %>" alt="<%=product.name %>" width="90px">
                  
                </a>
              </div>
              <%}); %>


      </main>


      <!-- FOOTER  -->
      <%- include('../partials/footer') %>