<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Detalle del Producto</title>
    </head>

    <body>

        <!-- HEADER  -->
        <%- include('../partials/header') %>

            <main>
                <article class="detail-product">

                    <div class="product-name">
                        <h4>
                            <%= product.name %>
                        </h4>
                    </div>

                    <div class="product-price">
                        <h4> Precio del producto: $<%= product.price %>
                        </h4>
                    </div>
                    
                    <section>
                        <div class="product-img">
                            <img src="/images/<%= product.image %>" alt="<%= product.name %>">
                        </div>

                        <div class='detail-texts' id="interest-fee">
                            <i class="fa-solid fa-credit-card"></i>3 CUOTAS SIN INTERES

                            <input class="product-detail-button" type="button" value="Calcular Cuotas">


                            <div class='detail-texts' id="free-pick">
                                <i class="fa-solid fa-store"></i> RETIRO GRATIS EN NUESTRO LOCAL
                            </div>

                            <div class="buy-buttons">
                                <a href="/products/product-edit/<%=product.id %>" id="product-redirect"><input
                                        class="product-detail-button" type="submit" value="Editar"></a>
                                <a href="/products/product-cart" id="product-redirect"><input
                                        class="product-detail-button" type="submit" value="Agregar al carrito"></a>
                                    <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                                        <input class="product-detail-button" type="submit" value="Borrar"
                                            id="delete-button"></input>
                                    </form>
                            </div>
                        </div>
                    </section>

                </article>
            </main>



            <!-- FOOTER  -->
            <%- include('../partials/footer') %>